body{
    font-family: 'MonteCarlo', cursive;
    font-weight: bold;
}

h1{
    background-image: linear-gradient(to right, #20c997 , #0dcaf0);
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 20px;
}

.gradiant{
    background-image: linear-gradient(to right, #20c997 , #0dcaf0);
    width: 300px;
}

 .teal{
    background-color: #20c997;
    color: white;
    text-align: center;
}

.cyan{
    background-color: #0dcaf0;
    color: white;
    text-align: center;
}

.bg-1{
    background-color: #0dcaf0;
    color: white;
}

.hide{
    display: none;
}

.weather-img {
    width: 50px;
    height: 50px;
}


